@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ff0000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Source Code Pro', monospace;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
